.notes-container {
    flex: 1 1 auto;
    padding: 16px 32px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    /* grid-gap: 16px; */
    grid-auto-rows: 8px;
    overflow-x: hidden;
    overflow-y: auto;
}

.note {
    width: calc(100% - 16px);
    justify-self: center;
    margin-bottom: 16px;
}
